@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Eagle+Lake&family=MedievalSharp&family=Philosopher&family=UnifrakturMaguntia&display=swap');

:root {
  --color-white: #e2e2e2;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65; 
  --color-darkpurple: rgba(84,58,183,1);
  --color-greenblue: rgba(0,172,193,1);  
  --color-lightpurple: #764ba2;
  --color-lightorange: #f5ce62;
  --color-pinkorange: #e43603;
}


/* Unvisited link */
a:link {
    color: rgba(0,172,193,1);
}

/* Visited link */
a:visited {
    color: rgba(84,58,183,1);
}

/* Mouse over link */
a:hover {
    color: #764ba2;
}

/* Selected link */
a:active {
    color: #1b1b32;
}
